body {
    background-color: #F1F1F1;
    /*background-color: rgb(241, 241, 241);*/
    /*background-color: wheat;*/
}

.img {
    width: 200px;
    /*min-width: 200px;*/
    /*max-width: 200px;*/
    box-shadow: 5px 5px 10px black;
    margin-right: 30px;
}
.left {
    text-align: left;
}
.a1 {
    margin-right: 5px;
}
.a2 {
    margin: 0 0 0 5px;
    /*margin: 0 5px;*/
}

.a1, .a2 {
    color: black;
    text-decoration: none;
    font-weight: 400;
}

header .text {
    color: gray;
}

.hobby {
    background: #e3d6a1;
}
.border {
    border-radius: 25px;
}
section {
    margin-bottom: 10px;
}
section:first-child {
    margin-top: 10px;
}

.list {
    opacity: .5;
}

main section {
    padding: 10px;
}

.social {
    background-color: #bcecbd;
}

.social a {
    text-decoration: none;
}